<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%- appTitle %></title>
    <!--[if IE]><link rel="shortcut icon" href="<%- favicon %>"><![endif]-->
    <!-- Possibly include a png version of the favicon -->
    <link rel="icon" type="image/png" href="<%- favicon %>">
    <% if (isProduction) { %>
      <!-- Minified Styles -->
      <link rel="stylesheet" type="text/css" href="/styles.css">
    <% } else { %>
      <link rel="stylesheet" type="text/css" href="http://localhost:<%= webpackPort %>/styles.css">
    <% } %>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div><%- headerApp %></div>
    <section>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vestibulum blandit egestas. Nullam vitae justo ut ante tristique congue ut nec nibh. Ut ac feugiat nisl. Ut orci tellus, egestas quis diam sit amet, faucibus laoreet lorem. Nam laoreet augue non nunc pellentesque imperdiet. Mauris pulvinar sapien eu faucibus aliquet. Nulla sed imperdiet magna, at ornare magna. Praesent eu purus diam. Donec tristique quam nec ante sagittis pharetra. Sed egestas sit amet lorem nec pulvinar.

      Donec faucibus augue at ligula condimentum, ac tincidunt nulla luctus. Nullam ultricies ipsum vitae ante blandit, sed tempus quam eleifend. Praesent dignissim consectetur velit ac tristique. Aliquam gravida suscipit suscipit. Aliquam fringilla sed mi congue aliquet. Integer ornare eu augue eget maximus. Donec laoreet elementum massa rutrum consectetur. Phasellus tempor porta congue. Vestibulum tincidunt ipsum et ipsum hendrerit, dictum malesuada ligula imperdiet. Ut nec lacus vitae ex rhoncus volutpat vel ac felis. Praesent nec sagittis eros. Vivamus sodales elit ac erat pharetra, vitae ullamcorper nisl ornare. In hac habitasse platea dictumst. Nam id lacus justo.

      Praesent vel molestie neque, id feugiat dui. Fusce gravida tellus in semper elementum. Proin suscipit erat in risus faucibus molestie. Pellentesque nec neque tincidunt est scelerisque dignissim. Donec ut placerat dui. Donec id tellus vel augue vehicula luctus eu quis turpis. Ut bibendum rhoncus leo, in fringilla est luctus eget. Vivamus hendrerit lectus lacinia aliquet facilisis. Pellentesque malesuada porttitor diam. Morbi condimentum ultrices lorem auctor pharetra. Pellentesque posuere, lacus sit amet dignissim interdum, sapien nunc tincidunt augue, non scelerisque est nisi ac lacus. Phasellus hendrerit consectetur nulla vel gravida.

      Phasellus non consequat elit. Donec vel tincidunt ante. Fusce at mi quam. Donec volutpat odio lacus, a laoreet lacus mollis et. Praesent vitae fermentum purus. Sed nec eleifend sapien. Nullam vel nunc at nunc faucibus ornare in id risus. Duis euismod sapien a mollis venenatis. Morbi non commodo metus.

      Nulla varius lacus malesuada risus vulputate, id feugiat orci maximus. Ut maximus laoreet leo, et dictum dui imperdiet quis. Phasellus bibendum suscipit diam, sit amet sollicitudin ex facilisis non. Donec congue, tortor vel facilisis feugiat, turpis lectus laoreet enim, sit amet bibendum felis erat a ligula. Suspendisse erat mi, dignissim tincidunt erat ac, ultrices vulputate nulla. Proin fermentum elit sed turpis venenatis, sed mattis ligula fermentum. Integer id gravida velit. Proin in tincidunt ipsum, a ultricies libero. Proin vitae dignissim lorem, consectetur pharetra nibh. Fusce in luctus ipsum, eu eleifend turpis. Praesent dignissim vehicula fringilla.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vestibulum blandit egestas. Nullam vitae justo ut ante tristique congue ut nec nibh. Ut ac feugiat nisl. Ut orci tellus, egestas quis diam sit amet, faucibus laoreet lorem. Nam laoreet augue non nunc pellentesque imperdiet. Mauris pulvinar sapien eu faucibus aliquet. Nulla sed imperdiet magna, at ornare magna. Praesent eu purus diam. Donec tristique quam nec ante sagittis pharetra. Sed egestas sit amet lorem nec pulvinar.

      Donec faucibus augue at ligula condimentum, ac tincidunt nulla luctus. Nullam ultricies ipsum vitae ante blandit, sed tempus quam eleifend. Praesent dignissim consectetur velit ac tristique. Aliquam gravida suscipit suscipit. Aliquam fringilla sed mi congue aliquet. Integer ornare eu augue eget maximus. Donec laoreet elementum massa rutrum consectetur. Phasellus tempor porta congue. Vestibulum tincidunt ipsum et ipsum hendrerit, dictum malesuada ligula imperdiet. Ut nec lacus vitae ex rhoncus volutpat vel ac felis. Praesent nec sagittis eros. Vivamus sodales elit ac erat pharetra, vitae ullamcorper nisl ornare. In hac habitasse platea dictumst. Nam id lacus justo.

      Praesent vel molestie neque, id feugiat dui. Fusce gravida tellus in semper elementum. Proin suscipit erat in risus faucibus molestie. Pellentesque nec neque tincidunt est scelerisque dignissim. Donec ut placerat dui. Donec id tellus vel augue vehicula luctus eu quis turpis. Ut bibendum rhoncus leo, in fringilla est luctus eget. Vivamus hendrerit lectus lacinia aliquet facilisis. Pellentesque malesuada porttitor diam. Morbi condimentum ultrices lorem auctor pharetra. Pellentesque posuere, lacus sit amet dignissim interdum, sapien nunc tincidunt augue, non scelerisque est nisi ac lacus. Phasellus hendrerit consectetur nulla vel gravida.

      Phasellus non consequat elit. Donec vel tincidunt ante. Fusce at mi quam. Donec volutpat odio lacus, a laoreet lacus mollis et. Praesent vitae fermentum purus. Sed nec eleifend sapien. Nullam vel nunc at nunc faucibus ornare in id risus. Duis euismod sapien a mollis venenatis. Morbi non commodo metus.

      Nulla varius lacus malesuada risus vulputate, id feugiat orci maximus. Ut maximus laoreet leo, et dictum dui imperdiet quis. Phasellus bibendum suscipit diam, sit amet sollicitudin ex facilisis non. Donec congue, tortor vel facilisis feugiat, turpis lectus laoreet enim, sit amet bibendum felis erat a ligula. Suspendisse erat mi, dignissim tincidunt erat ac, ultrices vulputate nulla. Proin fermentum elit sed turpis venenatis, sed mattis ligula fermentum. Integer id gravida velit. Proin in tincidunt ipsum, a ultricies libero. Proin vitae dignissim lorem, consectetur pharetra nibh. Fusce in luctus ipsum, eu eleifend turpis. Praesent dignissim vehicula fringilla.
    </section>
  </body>

  <% if (isProduction) { %>
    <script async type='text/javascript' src="/<%= filename %>"></script>
  <% } else { %>
    <script async type='text/javascript' src="http://localhost:<%= webpackPort %>/<%= filename %>"></script>
  <% } %>
</html>